USE [PruebaTecnica]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [decimal](18, 0) NOT NULL,
	[Stock] [int] NULL,
	[Imagen] [varchar](max) NULL,
	[IdProveedor] [int] NULL,
	[IdDepartamento] [int] NULL,
	[Descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[NumeroDeTelefono] [varchar](50) NOT NULL,
	[Imagen] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[FechaDeNacimiento] [date] NULL,
	[CURP] [varchar](50) NULL,
	[Genero] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[NumeroDeTelefono] [varchar](50) NOT NULL,
	[Celular] [varchar](50) NULL,
	[Password] [varchar](50) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (1, N'Electronica')
INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (2, N'Limpieza')
INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (3, N'Salchichonería')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [NumeroDeTelefono], [Imagen]) VALUES (2, N'AlEn', N'5511481030', N'')
INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [NumeroDeTelefono], [Imagen]) VALUES (3, N'FUD', N'5510306478', N'')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([IdRol], [Nombre]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D105344825BE9B]    Script Date: 12/01/2023 20:20:12 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__C9F284568B15D8CA]    Script Date: 12/01/2023 20:20:12 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[DepartamentoGetAll]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DepartamentoGetAll]
AS
SELECT IdDepartamento, Nombre FROM Departamento
GO
/****** Object:  StoredProcedure [dbo].[ProductoAdd]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoAdd]
@Nombre VARCHAR(50),
@Precio DECIMAL,
@Stock INT,
@Imagen VARCHAR(MAX),
@IdProveedor INT,
@IdDepartamento INT,
@Descripcion VARCHAR(500)
AS
INSERT INTO Producto (Nombre, Precio, Stock, Imagen, IdProveedor, IdDepartamento, Descripcion) VALUES (@Nombre, @Precio, @Stock, @Imagen, @IdProveedor, @IdDepartamento, @Descripcion)
GO
/****** Object:  StoredProcedure [dbo].[ProductoDelete]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoDelete]
@IdProducto INT
AS
DELETE FROM Producto WHERE IdProducto = @IdProducto
GO
/****** Object:  StoredProcedure [dbo].[ProductoGetAll]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoGetAll]
AS
SELECT IdProducto, Producto.Nombre, Precio, Stock, Producto.Imagen, Producto.IdProveedor, Proveedor.Nombre AS 'NombreProveedor', Producto.IdDepartamento, Departamento.Nombre AS 'NombreDepartamento', Descripcion FROM Producto
INNER JOIN Proveedor ON Producto.IdProveedor = Proveedor.IdProveedor
INNER JOIN Departamento ON Producto.IdDepartamento = Departamento.IdDepartamento
GO
/****** Object:  StoredProcedure [dbo].[ProductoGetById]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoGetById]
@IdProducto INT
AS
SELECT IdProducto, Producto.Nombre, Precio, Stock, Producto.Imagen, Producto.IdProveedor, Proveedor.Nombre AS 'NombreProveedor', Producto.IdDepartamento, Departamento.Nombre AS 'NombreDepartamento', Descripcion FROM Producto
INNER JOIN Proveedor ON Producto.IdProveedor = Proveedor.IdProveedor
INNER JOIN Departamento ON Producto.IdDepartamento = Departamento.IdDepartamento
WHERE IdProducto = @IdProducto
GO
/****** Object:  StoredProcedure [dbo].[ProductoUpdate]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProductoUpdate]
@IdProducto INT,
@Nombre VARCHAR(50),
@Precio DECIMAL,
@Stock INT,
@Imagen VARCHAR(MAX),
@IdProveedor INT,
@IdDepartamento INT,
@Descripcion VARCHAR(500)
AS
UPDATE Producto SET Nombre = @Nombre, Precio = @Precio, Stock = @Stock, Imagen = @Imagen, IdProveedor = @IdProveedor, IdDepartamento = @IdDepartamento, Descripcion = @Descripcion WHERE IdProducto = @IdProducto
GO
/****** Object:  StoredProcedure [dbo].[ProveedorAdd]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProveedorAdd]
@Nombre VARCHAR(50),
@NumeroDeTelefono VARCHAR(50),
@Imagen VARCHAR(MAX)
AS
INSERT INTO Proveedor (Nombre, NumeroDeTelefono, Imagen) VALUES (@Nombre, @NumeroDeTelefono, @Imagen)
GO
/****** Object:  StoredProcedure [dbo].[ProveedorDelete]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProveedorDelete]
@IdProveedor INT
AS
DELETE FROM Proveedor WHERE IdProveedor = @IdProveedor
GO
/****** Object:  StoredProcedure [dbo].[ProveedorGetAll]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProveedorGetAll]
AS
SELECT IdProveedor, Nombre, NumeroDeTelefono, Imagen FROM Proveedor
GO
/****** Object:  StoredProcedure [dbo].[ProveedorGetById]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProveedorGetById]
@IdProveedor INT
AS
SELECT IdProveedor, Nombre, NumeroDeTelefono, Imagen FROM Proveedor WHERE IdProveedor = @IdProveedor
GO
/****** Object:  StoredProcedure [dbo].[ProveedorUpdate]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProveedorUpdate]
@IdProveedor INT,
@Nombre VARCHAR(50),
@NumeroDeTelefono VARCHAR(50),
@Imagen VARCHAR(MAX)
AS
UPDATE Proveedor SET Nombre = @Nombre, NumeroDeTelefono = @NumeroDeTelefono, Imagen = @Imagen WHERE IdProveedor = @IdProveedor
GO
/****** Object:  StoredProcedure [dbo].[RolGetAll]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RolGetAll]
AS
SELECT IdRol, Nombre FROM Rol
GO
/****** Object:  StoredProcedure [dbo].[UsuarioAdd]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioAdd]
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaDeNacimiento DATE,
@CURP VARCHAR(50),
@Genero VARCHAR(50),
@UserName VARCHAR(50),
@Email VARCHAR(50),
@NumeroDeTelefono VARCHAR(50),
@Celular VARCHAR(50),
@Password VARCHAR(50),
@Imagen VARCHAR(MAX),
@IdRol INT
AS
INSERT INTO Usuario (Nombre, ApellidoPaterno, ApellidoMaterno, FechaDeNacimiento, CURP, Genero, UserName, Email, NumeroDeTelefono, Celular, [Password], Imagen, IdRol) VALUES (@Nombre, @ApellidoPaterno, @ApellidoMaterno, @FechaDeNacimiento, @CURP, @Genero, @UserName, @Email, @NumeroDeTelefono, @Celular, @Password, @Imagen, @IdRol)
GO
/****** Object:  StoredProcedure [dbo].[UsuarioDelete]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioDelete]
@IdUsuario INT
AS
DELETE FROM Usuario WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetAll]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsuarioGetAll]
AS
SELECT IdUsuario, Usuario.Nombre, ApellidoPaterno, ApellidoMaterno, FechaDeNacimiento, CURP, Genero, UserName, Email, NumeroDeTelefono, Celular, [Password], Imagen, Usuario.IdRol, Rol.Nombre AS 'NombreRol' FROM Usuario
INNER JOIN Rol ON Usuario.IdRol = Rol.IdRol
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetById]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UsuarioGetById]
@IdUsuario INT
AS
SELECT IdUsuario, Usuario.Nombre, ApellidoPaterno, ApellidoMaterno, FechaDeNacimiento, CURP, Genero, UserName, Email, NumeroDeTelefono, Celular, [Password], Imagen, Usuario.IdRol, Rol.Nombre AS 'NombreRol' FROM Usuario
INNER JOIN Rol ON Usuario.IdRol = Rol.IdRol
WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[UsuarioGetByUsername]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioGetByUsername]
@UserName VARCHAR(50)
AS
SELECT IdUsuario, Usuario.Nombre, ApellidoPaterno, ApellidoMaterno, FechaDeNacimiento, CURP, Genero, UserName, Email, NumeroDeTelefono, Celular, [Password], Imagen, Usuario.IdRol, Rol.Nombre AS 'NombreRol' FROM Usuario
INNER JOIN Rol ON Usuario.IdRol = Rol.IdRol
WHERE UserName = @UserName
GO
/****** Object:  StoredProcedure [dbo].[UsuarioUpdate]    Script Date: 12/01/2023 20:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UsuarioUpdate]
@IdUsuario INT,
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaDeNacimiento DATE,
@CURP VARCHAR(50),
@Genero VARCHAR(50),
@UserName VARCHAR(50),
@Email VARCHAR(50),
@NumeroDeTelefono VARCHAR(50),
@Celular VARCHAR(50),
@Password VARCHAR(50),
@Imagen VARCHAR(MAX),
@IdRol INT
AS
UPDATE Usuario SET Nombre = @Nombre, ApellidoPaterno = @ApellidoPaterno, ApellidoMaterno = @ApellidoMaterno, FechaDeNacimiento = @FechaDeNacimiento, CURP = @CURP, Genero = @Genero, UserName = @UserName, Email = @Email, NumeroDeTelefono = @NumeroDeTelefono, Celular = @Celular, [Password] = @Password, Imagen = @Imagen, IdRol = @IdRol WHERE IdUsuario = @IdUsuario
GO
