@model ML.Usuario
@{
    Layout = null;
}
<!doctype html>

<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Login </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="csss/login.css">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    @using (Html.BeginForm("Login", "Usuario1", FormMethod.Post, new { enctype = "multipart/form-data", @id="loginform" }))
                {
                <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>


                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "txtUserName" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            
                    
                        
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="bi bi-controller"></i></span>

                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPassword1", @oninput ="ValidarContra(event, 'error10')" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <button type="submit" title="Ingresar" name="Ingresar">Ingresar</button>
                   }
                    <div class="pie-form">
                      
                        
                            
                    </div>
                </div>
               
            </div>
        </div>
            
    </body>
</html>